*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;
    font-family: 'IBM Plex Sans', sans-serif;
/* font-family: 'Poppins', sans-serif; */
}
.navbar{
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.logo{
    margin-right: 15px;
    cursor: pointer;
    align-items: center;
}
.logo img{
    width:150px;
}
.list-items{
    display: flex;
    gap: 25px;
/* font-family: "Poppins", sans-serif; */
cursor: pointer;
align-items: center;
}
nav ul li{
    list-style: none;
    font-weight: 600;
    font-size: 18px;
}
ul li a {
    /* To remove underline  */
    text-decoration: none; 
    /* To inherit the color from the parent element  */
    color:inherit;
}
nav ul li a:hover{
    color:rgb(230, 13, 165);
    text-decoration: underline;
    font-size: 20px;
    font-weight: 650;
}
.main-section{
    height: 85vh;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding-top:  10%;
max-width: 600px;
margin: 0 auto;
gap: 5px;
}
.description{
    width: 50%;
    text-align: center;
}
.heading-main{
color: #20BC7E;
margin-bottom: 10px;
}
.description-main{
    font-size: 18px;
    font-weight: 500;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px; 
}
.box{
    width: 140px;
    height: 70px;
    background-color: white;
    box-shadow: 0 0 10px black;
    margin: 20px; 
    gap: 30px;
    border-radius: 10px;
}
span{
   font-size: 25px;
   font-weight: 700;
   color: #20BC7E;
}
.boxes p {
font-size: 20px;
font-weight: 550;
}